<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @menu.name %>
  
  <h3>Remember This ID Number so you can place your order or ELSE!</h3>
  <h4><%= @menu.id %></h4>

</p>

<p>
  <img src="<%= @menu.imageUrl %>" >
</p>

<p>
  <strong>Price:</strong>
  <%= @menu.price / 100.00 %>
</p>

<p>
  <strong>Description:</strong>
  <%= @menu.description %>
</p>

<!-- 
<%= link_to 'Edit', edit_menu_path(@menu) %> |
 -->

<%= link_to 'Place Your Order', new_menu_items_order_path %>
 
<%= link_to 'Back', menus_path %>
