<p id="notice"><%= notice %></p>

<h1>Menu Items Orders</h1>

<table>
  <thead>
    <tr>
      <th>Menu item</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @menu_items_orders.each do |menu_items_order| %>
      <tr>
        <td><%= menu_items_order.menu_item_id %></td>
        <td><%= menu_items_order.order_id %></td>
        <td><%= link_to 'Show', menu_items_order %></td>
        <td><%= link_to 'Edit', edit_menu_items_order_path(menu_items_order) %></td>
        <td><%= link_to 'Destroy', menu_items_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Menu Items Order', new_menu_items_order_path %>
