<p id="notice"><%= notice %></p>

<p>
  <strong>Menu item:</strong>
  <%= @menu_items_order.menu_item_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @menu_items_order.order_id %>
</p>

<%= link_to 'Edit', edit_menu_items_order_path(@menu_items_order) %> |
<%= link_to 'Back', menu_items_orders_path %>
